body{
    background-color: #555
}
.container{
    max-width: 600px;
  }
  .btn{
    background: #43d9be !important;
    color: white;
    outline: none !important;
    box-shadow: none !important;
  }
  .btn:focus{
    outline: none !important;
  }