.header__title{
    text-align: center;
    margin-top:  20px;
    font-size: 4em;
}

.result{
    background-color: #eee;
}
.result__paragraph{
    text-align: center;
    padding: 30px;
    font-size: 2em
}
.result__span{
    font-size: 3em;
    padding: 15px;
}