*{
    margin: 0;
    padding: 0;
}

.header__title{
    text-align: center;
    margin:  40px auto;
    font-size: 4em;
}

.result{
    background-color: #eee;
}
.result__paragraph{
    text-align: center;
    padding: 30px;
    margin: 0;
    font-size: 1em
}
.result__span{
    font-size: 2em;
    padding: 15px;
    color:#3b83bd;
}