*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #333333;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 25px 5%;
    align-items: center
}

.hamburger{
    border: none;
    background-color: none
}
.hamburger-div{
    height: 28px;
    width: 28px;
    background-color: white;
    
}