*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #333333;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 25px 5%;
    align-items: center
}

.hamburger{
    border: none;
    background: none
}
.hamburger__div{
    height: 2px;
    width: 28px;
    background-color: white;
}
.hamburger__div::after,
.hamburger__div::before{
    content: '';
    height: 2px;
    width: 28px;
    background-color: white;
}
.hamburger__div::after